a {
    text-decoration: none;
}

/* NAV BAR */

.nav__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
    box-sizing: border-box; 
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    color: #243e63;
    font: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
    font-family: "Inter", sans-serif;
}

.nav__links {
    align-items: center;
    padding-bottom: 2px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    font-family: "Inter", sans-serif;
}

.nav__link:hover {
    text-decoration: underline;
}


/* HEADER */

.conatiner {
    padding: 96px 0;
    justify-content: space-around;
    display: ;
}

.header__description {
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.purple {
    color: #6415FF;
}

.header__customers--title {
    margin-top: 48px;
    color: #a0aec0;
    font-weight: 700;
}

.header__customer--img {
    padding-right: 0px;
    margin-top: 16px;
    width: 100%;
}

/* FEATURES */

.section__tag {
    color: #6415FF;
    font-family: "Inter", sans-serif;
}

@media (max-width: 1024px) {
    .header__customers--title,
    .header__img
}